@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    ViewData["Title"] = "Página Principal del Docente";
}

<h2>@ViewData["Title"]</h2>
<div class="row text-center mt-5">
    <div class="col-md-3">
        <div class="card">
            <img src="~/images/notas-icon.png" class="card-img-top" alt="Ver Notas">
            <div class="card-body">
                <a href="@Url.Action("Calificaciones", "Docente")" class="btn btn-primary">Ver Notas</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="~/images/materias-icon.png" class="card-img-top" alt="Materias">
            <div class="card-body">
                <a href="@Url.Action("Materias", "Estudiante")" class="btn btn-primary">Materias</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="~/images/tareas-icon.png" class="card-img-top" alt="Tareas">
            <div class="card-body">
                <a href="@Url.Action("Tareas", "Estudiante")" class="btn btn-primary">Tareas</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="~/images/estadisticas-icon.png" class="card-img-top" alt="Estadísticas">
            <div class="card-body">
                <a href="@Url.Action("Estadisticas", "Estudiante")" class="btn btn-primary">Estadísticas</a>
            </div>
        </div>
    </div>
</div>